.converter{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-image: url('https://thumbs.dreamstime.com/z/abundancia-13722666.jpg');
    filter:brightness(95%);
    position: relative;
}

form {
    margin: 15px 12px;
    color: rgb(10, 58, 40);
    -webkit-text-stroke: 1px black;
}
 form input{
    width: 215px;
    padding-left: 10px;
 }

.comment{
    text-align: right;
    color:rgb(15, 187, 250);
    -webkit-text-stroke: 1px black;
    font-size: 12px;
}
