html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 960px;
}
.title{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}
.slader{
    position: relative;
    aspect-ratio: 3/2;
    overflow: hidden;
}
.slader img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.slader img.active{
    opacity: 1;
    z-index:4;
}