body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: ;
}