*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}
tfoot td{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:5px;
}