.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.block{
    width: 300px;
    height: 300px;
    background-color: rgb(241, 238, 238);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}   

svg {
    width: 50px;
    height: 50px;
    animation: animat 6s linear infinite both;
    position: absolute;
}

@keyframes animat {
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
    }
}

